body{
  background-color: black;
}
.team {
  padding: 60px 0;
}
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
}
.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}
.team .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(8, 8, 8, 0.8);
  display: inline-block; 
  transition: ease-in-out 0.3s;
  color: #fff;
}
.team .member .social a:hover {
   background-color: gray;  
}
.team .member .social i {
  /* font-size: 18px; */
}
.team .member .member-info {
  padding: 25px 15px;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222;
  text-align: center;
}
.team .member .member-info h3 {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222;
  text-align: center;
}
.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: black;
  text-align: center;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}
.team .member:hover .social {
  opacity: 2; 
  bottom: 15px;
}

  .mentor{
    padding: 100px 0;
    background: url("") no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  .mentor::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.7); */
  } 
  .mentor .section-header {
    margin-bottom: 40px;
  }
  .mentor .mentor-carousel, .mentor .mentor-slider {
    overflow: hidden;
  } 
   .mentor .mentor-item {
    text-align: center;
    color: #fff; 
  } 
  .mentor .mentor-item .mentor-img {
    width: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
  }
  .mentor .mentor-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #fff;
  }
  .mentor .mentor-item h4 {
    font-size: 14px;
    color: #ddd;
    margin: 0 0 15px 0;
  } 
 
   .mentor .mentor-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #eee;
  } 
 